@font-face {
   font-family: "e-Ukraine-Regular";
   src: url("../fonts/e-Ukraine-Regular.ttf");
}

@font-face {
   font-family: "e-UkraineHead-Medium";
   src: url("../fonts/e-UkraineHead-Medium.ttf");
}

html,
body {
   scroll-behavior: smooth;
   font-family: "e-Ukraine-Regular";
}

*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
 }
 a {
    text-decoration: none;
    outline: none;
 }
 
 #menu {
    float: right;
 }
 #menu li {
    display: inline-block;
    margin-right: 30px;
 }
 #menu a {
    font-family: "e-UkraineHead-Medium";
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    line-height: 40px;
 }
 #menu a:hover {
    color: #EF5A42;
 }
 #menu li:last-child {
    margin-right: 0;
 }
 #footer {
    margin: 0 auto;
    width: 100%;
    padding: 15px 25px 15px 25px;
    height: 40px;
 }
 footer {
    padding: 30px 0;
    background: #3C3D41;
    color: white;
 }
 .footer-col {
    width: 50%;
    float: left;
 }
 .footer-col a {
    color: white;
 }
 .footer-col:last-child {
    text-align: right;
 }
 .social-bar-wrap {
    text-align: right;
 }
 .social-bar-wrap a {
    padding: 0 7px;
    font-size: 18px;
 }
 








#bg_ruby { background-color: #b0544c; }
#color_ruby { background-color: #eaa28e; }
#bg_python { background-color: #653c78; }
#python{ background-color: #c383cf; }
#bg_java { background-color: #814822; }
#java { background-color: #d69c74; }
#js-back { background-color: #bc983d }
#js { background-color: #dab084;}
#c-back { background-color: #413dbc; }
#c { background-color: #848ada; }

#ruby_info{
   background-color: #eaa28e;
   box-shadow: 500px 0px #eaa28e;
 }

#logo_back{
   background-color: #000000;
   
}

.header {
   width: 100%;
   padding: 15px;
   height: 70px;
   position:fixed;
   top:0;
   background-color: #f7f6f6;
}
.container {
   width: 100%;
   padding: 90px 0;
   height: 680px;
}
.section { 
   display: flex;
   width: 100%; 
   height: 500px; 
}
#section_UwU{
    display: flex;
    width: 100%; 
    height: 580px; 
    flex-direction: column;
}
#UwU{
   height: 50%; 
   margin: auto;
}
#UwU_text{
    margin: auto;
   color: #ffffff;
   width: 80%; 
    height: 200px;
    text-align: center;
    
}
#gradient{
    height: 90px;
    background: -moz-radial-gradient(center, ellipse cover, #000000, #b0544c);
    background: -webkit-linear-gradient(top, #000000, #b0544c);
    background: -o-linear-gradient(top, #000000, #b0544c);
    background: -ms-linear-gradient(top, #000000, #b0544c);
}
.logo_pic{
    height: 100%;
 }
.sidebar { 
   flex-grow:1;
   display: block;
   width: 35%;
   height: 100%;
   flex-direction: column;
   
}
.sidebar_pic{
    object-fit:cover;
    width: 90%;
   height: 100%; 
   margin:auto;
}
.block_character_info { 
   flex-grow:1;
   width: 50%;
   height: 100%;
   padding: 0% 3%;
}
.character_info { 
   border-radius: 15px;
   flex-grow:1;
   height: auto;
   margin: 5% 0 0 5%;

}
.character_name { 
   border-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   flex-grow:1;
   background: rgba(216, 191, 216, 0.5);
   width: 60%;
   height: auto;
   margin: 5%;
   padding: 2%;
   line-height: 5em;
   text-align: center;
   }
.text{
   padding: 5% 7%;
   font-size: 120%;
}
.text_name{
   font-family: "e-UkraineHead-Medium";
   font-size: 200%;
   line-height: 1.25;
}
@media screen and (max-width: 755px) {
   .text{
      padding: 5% 7%;
      font-size: 100%;
   }
   .text_name{
      padding: 3%;
      font-size: 140%;
   }
 }
 @media screen and (max-width: 470px) {
   .text{
      padding: 5% 7%;
      font-size: 65%;
   }
   .text_name{
      padding: 3%;
      font-size: 100%;
      padding: 25% 0;
   }
   .logo_pic{
      width: 60%;
      height: auto;
   }
   .block_character_info { 
      width: 50%;
      padding: 0%;
   }
   .sidebar { 
      flex-grow:1;
      display: block;
      width: 50%;
      height: 100%;
      flex-direction: column;
   }
   .block_character_info { 
      flex-grow:1;
      width: 50%;
      height: 100%;
      padding: 0% 3%;
   }
      .container {
         padding: 90px 0px;
      }
 }
 @media screen and (max-width: 450px) {
    .text{
       padding: 11%;
       font-size: 65%;
       font-family: Georgia, serif;
    }
    .text_name{
       padding: 3%;
       font-size: 100%;
       padding: 5% 0;
    }
    .sidebar {
        overflow:hidden;
        width: 30%;
        height: 100%;
     }
     .sidebar_pic{
        object-fit:cover;
        width: 100%; 
        height: 100%; 
        float: right;
        padding-right: 0;
     }
     .character_name { 
        border-radius: 15px;
        width: 90%;
        height: auto;
        margin: 55% 5% 5% 5%;
        line-height: 5em;
        text-align: center;
    }
    .character_info { 
        border-radius: 15px;
        height: auto;
        margin: 5%;
        margin-bottom: 15%;
    }
    .container {
        width: 100%;
        padding: 30px 15px;
        height: 620px;
     }
     .section { 
        display: flex;
        width: 100%; 
        height: 500px; 
     }
    .block_character_info { 
        flex-grow:1;
        width: 55%;
        height: 100%;
        padding: 0% 3%;
     }
     #menu a{
        font-size: 55%;
     }
     footer{
        font-size: 80%;
     }
     .social-bar-wrap a{
        font-size: 100%;
     }
  }