@font-face {
   font-family: "e-Ukraine-Regular";
   font-display: swap;
   src: local('e-Ukraine-Regular'),
      url('../fonts/e-Ukraine-Regular.woff2') format('woff2'),
      url('../fonts/e-Ukraine-Regular.woff') format('woff'),
      url('../fonts/e-Ukraine-Regular.ttf') format('truetype'),
      url('../fonts/e-Ukraine-Regular.eot') format('embedded-opentype');
}
@font-face {
   font-family: "e-UkraineHead-Medium";
   font-display: swap;
   src: local('e-UkraineHead-Medium'),
      url('../fonts/e-UkraineHead-Medium.woff2') format('woff2'),
      url('../fonts/e-UkraineHead-Medium.woff') format('woff'),
      url('../fonts/e-UkraineHead-Medium.ttf') format('truetype'),
      url('../fonts/e-UkraineHead-Medium.eot') format('embedded-opentype');
}
html, body {
   scroll-behavior: smooth;
   font-family: "e-Ukraine-Regular";
}
::-webkit-scrollbar {
   display: none;
 }
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
 }
 a {
   text-decoration: none;
   outline: none;
 }
 
/*background*/
#bg_ruby { background-color: #60221b; }
#color_ruby { background-color: #e8967f; }
#bg_python { background-color: #372954; }
#color_python{ background-color: #8171b8; }
#bg_java { background-color: #674128; }
#color_java { background-color: #b38465; }
#bg_js { background-color: #b86c39 }
#color_js { background-color: #dfb38f;}
#bg_c { background-color: #292746; }
#color_c { background-color: #848ada; }
#bg_UwU{ background-color: #000000;}

.shadow_ruby { box-shadow: 450px -0px #e8967f; }
.shadow_python { box-shadow: 450px -0px #8171b8; }
.shadow_java { box-shadow: 450px -0px #b38465; }
.shadow_js { box-shadow: 450px -0px #dfb38f; }
.shadow_c { box-shadow: 450px -0px #848ada; }
/*header*/
.header {
   width: 100%;
   padding: 15px;
   height: 70px;
   position:fixed;
   top:0;
   z-index: 9999;
   display: flex;
   justify-content: end;
}
#menu {
   backdrop-filter: blur(2px);
   border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
 }
 #menu li {
   display: inline-block;
   margin-right: 30px;
 }
 #menu li:first-child {
   margin-left: 30px;
 }
 #menu a {
   font-family: "e-UkraineHead-Medium";
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 600;
   display: block;
   line-height: 40px;
   transition: .5s ease-in-out;
 }
 #menu a:hover {
   color: #EF5A42;
 }

/*content*/
.container {
   width: 100%;
   height: 700px;
}
.section { 
   display: flex;
   width: 100%; 
   height: 100%;
   padding: 5%;
}
/*content about team*/
#section_UwU{
   flex-direction: column;
}
#section_UwU p{
   margin: auto;
   color: #ffffff;
   width: 80%; 
   height: 200px;
   text-align: center;
}
#UwU_img{
   height: 50%; 
   margin: auto;
}
#UwU_gradient{
   height: 90px;
   background: #000000;
   background: -moz-radial-gradient(center, ellipse cover, #000000, #60221b);
   background: -webkit-linear-gradient(top, #000000, #60221b);
   background: -o-linear-gradient(top, #000000, #60221b);
   background: -ms-linear-gradient(top, #000000, #60221b);
}
.logo_img{
   height: 100%;
 }

 /*content about characters*/
 .block_character_info { 
   flex-grow:1;
   width: 50%;
   height: 100%;
   padding: 0% 3%;
}
.character_name { 
   border-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   flex-grow:1;
   background: rgba(216, 191, 216, 0.5);
   width: 60%;
   height: auto;
   margin: 5%;
   padding: 2%;
   line-height: 5em;
   text-align: center;
   }
.character_info { 
   border-radius: 15px;
   flex-grow:1;
   height: auto;
   margin: 5% 0 0 5%;
}
.block_character_img { 
   flex-grow:1;
   display: block;
   width: 35%;
   height: 100%;
   flex-direction: column;
}
.character_img{
   object-fit:cover;
   
   height: 100%; 
   margin:auto;
}
.character_info p{
   padding: 5% 7%;
   font-size: auto;
}
.character_name h1{
   font-family: "e-UkraineHead-Medium";
   font-size: 200%;
   line-height: 1.25;
}

/*footer*/ 
#footer {
   margin: 0 auto;
   width: 100%;
   padding: 15px 25px 15px 25px;
   height: 40px;
 }
 footer {
   padding: 30px 0;
   background: #3C3D41;
   color: white;
 }
 .footer-col {
   width: 50%;
   float: left;
 }
 .footer-col a {
   color: white;
   font-size: 18px;
   padding: 0 7px;
 }
 .footer-col:last-child {
   text-align: right;
 }

/*adaptivnes*/
 @media screen and (max-width: 1200px) {
   .container {
      height: 700px;
   }
 }
 @media screen and (max-width: 1150px) {
.shadow_ruby { box-shadow: none; }
.shadow_python { box-shadow: none; }
.shadow_java { box-shadow: none; }
.shadow_js { box-shadow: none; }
.shadow_c { box-shadow: none; }
.character_img{
   width: 100%;
}
 }
@media screen and (max-width: 760px) {
   .header {
      justify-content: center;
   }
   .container {
      height: 700px;
   }
   .section { 
      padding: 7% 5% 7% 5%;
   }
   .block_character_info { 
      margin-top: 10%;
      width: 40%;
      padding-left: 0;
   }
   .block_character_img { 
      width: 50%;
   }
   .character_name { 
      width: auto;
   }
   .character_name h1{ 
      font-size: 110%;
   }
   .character_info p{
      padding: 5%;
      font-size: 85%;
   }
   #menu a{
      font-size: 75%;
   }
   #section_UwU p{
      font-size: 85%;
   }
   .footer-col a {
      font-size: 85%;
   }
   footer {
      font-size: 85%;
   }
 }
 @media screen and (max-width: 480px) {
   .block_character_info { 
      width: 50%;
   }
   .block_character_img { 
      width: 40%;
   }
   #section_UwU p{
      font-size: 75%;
   }
   .logo_img{
      margin-top: 15%;
      height: 70%;
   }
   #menu li {
      margin-right: 15px;
    }
    #menu li:first-child {
      margin-left: 15px;
    }
   #menu a{
      font-size: 55%;
   }
   #section_UwU{
      margin-top: 0;
      margin-bottom: 0;
   }
   #UwU_img{
      height: 50%; 
      margin-top: 20%;
      margin-bottom: 0;
   }
   .footer-col a {
      font-size: 85%;
   }
   footer {
      padding-top: 5px;
      font-size: 85%;
   }
 }
 @media screen and (max-width: 340px) {
   .character_name h1{ 
      font-size: 100%;
   }
   .character_info p{
      padding: 5%;
      font-size: 75%;
   }
  }